body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.intro {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    flex: 100%;

}

main {
    display: flex;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.restaurant {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 70%;
    flex-direction: column;
}

.restaurant img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between
}

.card {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

aside {
    flex: 25%;
    padding: 15px;
    margin-left: 20px;
    border: #ddd solid 1px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

.selected {
    border: 3px solid rgb(225, 198, 48);
    background-color: #fff8dc;
}

.favorite {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}